body {
    /* ~ Colors of my VS Code Theme -> Kawaii Gummy */
    color: #ff9eb5;
    background-color: #393a55;
}

h1 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
    /* background-color: #b9f; */
    background-color: #ff9eb5;
    color: whitesmoke;
}
/*~ Hex Colors discovered by accident
    f8bd
    d2a
    c3f
    b9f
*/

nav li {
    list-style: none;
}

li {
    list-style: circle;
}

a {
    color: #ff9eb5;
}

h2 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
}

h3 {
    text-align: center;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 5px;
}

footer {
    /* position: fixed; */
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

footer li {
    list-style: none;
}

/* ~ This will create a flex container or box to arrange the list items in rows or columns */
.flex-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ~ This will be a parent container that will flex all the items in a row */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container li {
    margin: 10px;
    padding: 10px;
}
